h2,
h3 {
    text-align: center;
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 1rem 0;
    align-items: center;
}

table,
th,
td {
    border: 1px solid #ddd;
}

th,
td {
    padding: 0.5rem;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}


.input-label:nth-child(even) {
    order: 1;
}

.data-window p {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

.client-form-container {
    overflow-y: auto;
}

.toast-info-custom {
    background-color: #007bff;
}

.credit-card {
    flex: 1 1 300px;
    z-index: 1001;
}

.credit-card h3 {
    margin-top: 0;
}

.credit-card p {
    margin: 4px 0;
}

.table-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.table-cuotas {
    width: 100%;
    max-width: 600px;
    border-collapse: collapse;
    text-align: left;
}